stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - echo "Building project..."
    - echo "Bulding Done!"

test:
  stage: test
  script:
    - echo "Running tests..."
    - echo "All tests passed!"

deploy:
  stage: deploy
  script:
    - echo "Deploying..."
    - echo "Deployment complete!"
