
### Without Docker
# stages:
#   - build
#   - test

# variables:
#   PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# before_script:
#   - cd api
#   - python --version
#   - pip install --upgrade pip

# cache:
#   key: ${CI_COMMIT_REF_SLUG}
#   paths:
#     - .cache/pip

# build-backend:
#   stage: build
#   image: python:3.12
#   script:
#     - pip install -r requirements.txt
#     - echo "Backend build complete."

# test-backend:
#   stage: test
#   image: python:3.12
#   script:
#     - pip install -r requirements.txt
#     - pip install pytest
#     - pytest -v

# build-frontend:
#   stage: build
#   image: node:20.19
#   before_script:
#     - cd front-end-nextjs
#     - npm ci
#   script:
#     - npm run build
#     - echo "Frontend build complete."

# lint-frontend:
#   stage: test
#   image: node:20.19
#   before_script:
#     - cd front-end-nextjs
#     - npm ci
#   script:
#     - npm run lint    

### With Docker
stages:
  - buildandpush
  - deploy

variables:
  BACKEND_IMAGE: ${REGISTRY_URL}/${REGISTRY_PROJECT}/fastapi-backend:latest
  FRONTEND_IMAGE: ${REGISTRY_URL}/${REGISTRY_PROJECT}/nextjs-frontend:latest

image: docker:28.2.2
services:
  - docker:28.2.2-dind

before_script:
  # Login Harbor
  - docker login ${REGISTRY_URL} -u ${REGISTRY_USER} -p ${REGISTRY_PASSWORD} 

build-backend:
  stage: buildandpush
  script:
    - docker build -f Dockerfile.api -t $BACKEND_IMAGE $CI_PROJECT_DIR
    - echo "Backend image built."
    - docker push $BACKEND_IMAGE
    - echo "Backend image pushed."


build-frontend:
  stage: buildandpush
  script:
    - docker build -f Dockerfile.frontend -t $FRONTEND_IMAGE $CI_PROJECT_DIR
    - echo "Frontend image built."
    - docker push $FRONTEND_IMAGE
    - echo "Frontend image pushed."

deploy:
  stage: deploy   

  variables:
    BACKEND_CONTAINER: fastapi-backend
    FRONTEND_CONTAINER: nextjs-frontend 
  before_script:
    # Login Harbor
    - docker login ${REGISTRY_URL} -u ${REGISTRY_USER} -p ${REGISTRY_PASSWORD} 

  script:
    - docker pull $BACKEND_IMAGE
    - docker pull $FRONTEND_IMAGE
 
    - docker rm -f $BACKEND_CONTAINER 
    - docker rm -f $FRONTEND_CONTAINER 

    - docker run -d --name $BACKEND_CONTAINER -dp 8000:8000 $BACKEND_IMAGE
    - docker run -d --name $FRONTEND_CONTAINER -dp 3000:3000 $FRONTEND_IMAGE
    - echo "Deployment completed successfully!"


    
