stages:
  - build
  - test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

before_script:
  - cd api
  - python --version
  - pip install --upgrade pip

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .cache/pip

build-backend:
  stage: build
  image: python:3.12
  script:
    - pip install -r requirements.txt
    - echo "Backend build complete."

test-backend:
  stage: test
  image: python:3.12
  script:
    - pip install -r requirements.txt
    - pip install pytest
    - pytest -v
