stages:
  - build
  - test

before_script:
  - cd backend
  - python --version
  - pip install --upgrade pip

build-backend:
  stage: build
  image: python:3.12
  script:
    - pip install -r requirements.txt
    - echo "Backend build complete."

test-backend:
  stage: test
  image: python:3.12
  script:
    - pip install -r requirements.txt
    - pip install pytest
    - pytest -v
